<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="loadPage">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <button mat-stroked-button color="primary" (click)="createNewMovie()">Create</button>
      <mat-form-field appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select [(value)]="selectedGenre" (selectionChange)="searchMovie()">
          <mat-option  value="0">None</mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre.genreId">{{genre.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="keyword" name="keyword" type="search">
        <button (click)="searchMovie()" mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</nav>

<div class="container-padding-50">
  <div class='row'>
    <mat-card *ngFor="let movie of movieList" class="margin-card card-size">
      <mat-card-header class="mat-card-header">

        <mat-card-title class="margin-left-title">{{movie.title}}</mat-card-title>
        <mat-card-subtitle>
          <mat-icon class="yellow-icon">star</mat-icon>{{movie.overallRating}}
        </mat-card-subtitle>
      </mat-card-header>
      <img (click)="viewMovie(movie.movieId)" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-actions>
        <button mat-button (click)="editMovie(movie.movieId)">EDIT</button>
        <button mat-button>DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>